<h3>Welcome <%= current_user.name %></h3>

<p>ID: <%= current_user.id %></p>
<p>Email: <%= current_user.email %></p>
<p>Created At: <%= current_user.created_at %></p>
<p>Updated At: <%= current_user.updated_at %></p>
<form action='/u/<%= current_user.id %>/edit' method='get'>
	<input class='btn btn-default' type="submit" value="Edit Profile">
</form>

<!-- <%= link_to 'Delete', users_destroy_path(current_user.id), method: :delete, data: {confirm: 'Are you sure?'} %> -->
<a class='btn btn-default' href="/u/<%= current_user.id %>" data-method='delete' data-confirm='Are you sure you want to delete?'>Delete Profile</a>

<h3>New Secret</h3>
<form action='/secrets' method='post'>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<textarea name='secret'></textarea>
	<p><input class='btn btn-default' type="submit" value="Create Secret"></p>
</form>

<div class='col-md-6'>
	<h4>Secrets</h4>
	<% @secrets_created.each do |s| %>
		<div class='row'>
			<div class='col-md-6'>
				<p><%= s.content %></p>
				<p><%= s.likes.count %> likes</p>
			</div>
			<div class='col-md-3'>
				<a class='btn btn-primary' href="/secrets/<%= s.id%>" data-method='delete'>Delete</a>
			</div>	
		</div>
	<% end %>
</div>
<div class='col-md-6'>
	<h4>Secrets Liked</h4>
</div>
